<div class="row">
  <div class="col-md-8">
    
  </div>
  <div class="col-md-4">
      <div class="btn-group group-round btn-group-sm float-right">
          <button type="button" (click)="clickValue(1)" class="btn btn-info waves-effect waves-light">SALES</button>
          <button type="button" (click)="clickValue(2)" class="btn btn-success waves-effect waves-light">SERVICE</button>
          <!-- <button type="button" class="btn btn-info waves-effect waves-light">Daily</button>  -->  
    </div>
 </div>
</div>

<ng-container *ngIf="valueNum == 1">
  <app-sales-dashboard [userId]="userId" [viewType]="viewType"></app-sales-dashboard>
</ng-container>

<ng-container *ngIf="valueNum == 2">
    <app-service-dashboard></app-service-dashboard>
</ng-container>