<div class="container-fluid">
  
    <hr>
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
        <div class="card-body"> 
            <h6 class="text-uppercase">Lead Basic Information</h6>
            <hr>
         <div class="row">            
                      <div class="table-responsive">
                            <table class="table table-bordered table-sm">

                                <tr>
                                    <td colspan="3"><b>{{leadInfo.name | uppercase}} </b></td>
                                    <td><a routerLink="/access/lead/edit-lead/{{leadInfo.id}}" class="btn btn-sm btn-round  waves-effect waves-light m-1 btn-warning">Edit Profile</a></td>
                                </tr>
                              <tr>
                                <td style=" width:30%"><b>SALES STAGE : </b></td>
                                <td><span class="text-white btn btn-rounded btn-sm {{leadInfo.stage_color}}">
                                    {{leadInfo.stage_name}} - {{leadInfo.currentSalesStage}} %
                                    </span>
                                  </td>
                                  <td><b>ACCOUNT SECTOR : </b></td>
                                  <td>{{leadInfo.sector}}</td>
                              </tr>
                            
                              <tr>
                                <td><b>PHONE : </b></td>
                                <td>{{leadInfo.phone}}</td>
                                <td><b>EMAIL : </b></td>
                                <td>{{leadInfo.email}}</td>                          
                             </tr> 

                             <tr>
                                <td><b>CREATED BY : </b></td>
                                <td>{{leadInfo.createdByUser}}</td>
                                <td><b>LEAD SOURCE : </b></td>
                                <td>{{leadInfo.leadSource}}</td>
                             </tr> 
                            
                             <tr>
                                <td><b>ASSIGNED (SALES) : </b></td>
                                <td>{{leadInfo.assignedSales}}</td>
                                <td><b>ASSIGNED (SERVICE) : </b></td>
                                <td>{{leadInfo.assignedService}}</td>
                             </tr> 
                             
                             <tr>
                                <td><b>ADDRESS : </b></td>
                                <td colspan="3">{{leadInfo.address}}</td>
                             </tr>
                            


                           </table>
                    </div>
        </div> 
      </div>
      </div>
 
    
      <app-lead-story></app-lead-story>
      <app-lead-contact></app-lead-contact>
    
  </div>
