<ngx-ui-loader fgsColor="#ff9900" fgsType="three-strings" pbColor="#ff9900"
bgsColor="red" text="Loading..." textColor="#ffffff"></ngx-ui-loader>


<div id="wrapper">

    <div class="card card-authentication1 mx-auto my-5">
      <div class="card-body" *ngIf="grant_access">
       <div class="card-content p-2">
        <div class="card-title text-uppercase pb-2">Reset Password</div>
        
        <div class="card-title text-uppercase pb-2">{{email_address}}</div>
        
          <p class="pb-2">Please enter your new passwords</p>
          <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
          <label for="exampleInputEmailAddress" class="">New Password</label>
           <div class="position-relative has-icon-right">
            <input type="password" formControlName="newPassword" [(ngModel)]="newPassword"
            [ngClass]="{'is-invalid':submitted && f.newPassword.errors}" 
             class="form-control input-shadow" placeholder="New Password">
            <div class="form-control-position">
              <i class="fa fa-lock"></i>
            </div>
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
              <div *ngIf="f.newPassword.errors.required">New Password is required</div>                                            
              <div *ngIf="f.newPassword.errors.pattern">New Password must be at least 6 characters,
                letter first ->
                (1 Lowercase letter,1 Uppercase letter,1 Number, 1 Special Character)</div>
          </div>
           </div>

           <password-strength-meter [password]="newPassword"></password-strength-meter>
         
           
          </div>

          <div class="form-group">
              <label for="exampleInputEmailAddress" class="">New Password Again</label>
               <div class="position-relative has-icon-right">
                <input type="password" formControlName="newPassword2" 
                [ngClass]="{'is-invalid':submitted && f.newPassword2.errors}" 
                class="form-control input-shadow" placeholder="New Password Again">
                <div class="form-control-position">
                  <i class="fa fa-lock"></i>
                </div>

                <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword2.invalid">passwords do no match</div>
              </div>
               </div>

             
             
               
              </div>
         
          <button class="btn btn-warning btn-block mt-3">Reset Password</button>
         </form>
         </div>
        </div>
         <div class="card-footer text-center py-3">
          <p class="text-dark mb-0">Return to the <a routerLink="/home"> Sign In</a></p>
        </div>
         </div>
      
       <!--Start Back To Top Button-->
      <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
      <!--End Back To Top Button-->
  