<div class="container-fluid">

  <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header text-uppercase">Ship Item To Customers</div>
      <div class="card-body">
      <!-- <form [formGroup]="form" (ngSubmit)="Register()">
        -->
        <div class="card">
          
            <div class="card-body">
    
            <div class="row"> 
                <div class="col-sm-6">
                    <label>ACCOUNT NAME</label>
                    <select class="form-control" [(ngModel)]="accountId"
                    (change)="getAllInoviceInformation($event.target.value)"
                    [disabled]="!enableMachinesCategory"
                    name="accountId" >
                        <option value="0"></option>
                        <ng-container *ngFor="let c of alllead">
                            <!-- <ng-container *ngIf="(c.sales_Assign == userId) || (c.service_Assign == userId)"> -->
                                <option value="{{c.id}}">{{c.name}}</option>
                            <!-- </ng-container> -->
                          
                        </ng-container>
                       
              </select>
           
                </div>
                <div class="col-sm-6">
                  <label>INVOICE NUMBER</label>
                  <select class="form-control"  [disabled]="!enableMachinesCategory"
                     (change)="getSalesInfo($event.target.value)" [(ngModel)]="machineId" name="machineId" required >
                        <option *ngFor="let c of salesInfoList" value="{{c.id}}">{{c?.salesid}}</option>
                   </select>
                </div>
            </div>
     
     
       </div>
       </div>
      
       <form [formGroup]="form" (ngSubmit)="submit()">
         <div class="table-responsive" *ngIf="showDataTable">
            <table class="table table-bordered  table-striped">
              <thead>
                <tr>
                  <th colspan="8">

                      <h5 style="text-align: center">{{salesInfo.name}}</h5>
                      <h4 style="text-align: center">INVOICE No.: {{salesInfo.salesid}}</h4>
                      <h5 style="text-align: center">COLLECTION STAGE: {{salesInfo.ordercollectstage}}</h5>
                  
                  
                  </th>
                </tr> 
                <tr>
                  <th>#</th>
                  <th>Category</th>
                  <th>Product</th>
                  <!-- <th>Unit Price</th> -->
                  <th>Ask Qty</th>
                  <!-- <th>Total Amount</th> -->
                  <th>Qty Released</th>
                  <th>Available Qty</th>
                  <th>Give Out</th>
                  <th width="5%"></th>
                </tr>
              </thead>
              <tbody>
                
                <ng-container formArrayName="deliveryDetails" *ngFor="let c of onLineList;let i=index">
                     <ng-container [formGroupName]="i"> 
                       <ng-container *ngIf="i>-1">
                              <tr>
                                  <td>{{i+1}}.</td>
                                  <td>{{c.category}}</td>
                                  <td>{{c.productName}}</td>
                                  <!-- <td> {{utils.getCurrency()}} {{c?.unitPrice | number:'.2'}}</td> -->
                                  <td>{{c.qty}}</td>
                                  <td>{{c.soldOutQty}}</td>
                                  <td><input type="text" disabled class="form-control" formControlName="availableQty"/></td>
                                  <td><input type="text" class="form-control" formControlName="qty" [attr.disabled]="h[i].get('yetToDeliver').value == 0 ? true : null"
                                    [ngClass]="{ 'is-invalid': submitted && h[i].get('qty').errors }" 
                              (keypress)="utils.numberOnly($event)" />
                              <span *ngIf="submitted && h[i].get('qty').errors" class="invalid-feedback">
                                  <span *ngIf="h[i].get('qty').errors.required">this field is required</span>    
                                  <span *ngIf="h[i].get('qty').errors.max">Please check the quantity you are trying to give out</span>    
                              </span>
                            </td>
                                  <!-- <td> {{utils.getCurrency()}} {{c?.unitPrice*c.qty | number :'.2'}}</td> -->
                                  <td>
                                      <!-- <button (click)="deleteFromArray(c.productId)" type="button" class="btn btn-sm btn-danger waves-effect waves-light m-1"> <i class="fa fa-trash-o"></i> </button> -->
                                  </td> 
                          </tr>
                       </ng-container>
                     
                     </ng-container> 
                
          </ng-container>
                    <tr>
                          <td colspan="3"> DELIVERY ADDRESS  </td>
                          <td colspan="4"> <textarea class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.delivery_address.errors }" 
                            formControlName="delivery_address"></textarea> </td>
                          <td></td>
                    </tr>

                    <tr>
                        <td colspan="3"> DELIVERY OPTIONS  </td>
                        <td colspan="4"> 
                            <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f.delivery_option.errors }" 
                            formControlName="delivery_option">
                              <option value="">--SELECT OPTION--</option>
                              <option value ="IN HOUSE PICK-UP">IN HOUSE PICK-UP</option>
                              <option value ="DELIVERY INTRA-STATE (BY ROAD)">DELIVERY INTRA-STATE (BY ROAD)</option>
                              <option value ="DELIVERY INTER-STATE (BY ROAD)">DELIVERY INTER-STATE (BY ROAD)</option>
                              <option value ="DELIVERY INTER-STATE (BY AIR)">DELIVERY INTER-STATE (BY AIR)</option>
                              <option value ="DELIVERY INTERNATIONAL (BY ROAD)">DELIVERY INTERNATIONAL (BY ROAD)</option>
                              <option value ="DELIVERY INTERNATIONAL (BY AIR)">DELIVERY INTERNATIONAL (BY AIR)</option>
                            </select>
                        </td>
                        <td></td>
                  </tr>

                  <ng-container>
                      <tr>
                          <td colspan="3"> {{lb1}}  </td>
                          <td colspan="4"> <input type="text" class="form-control" formControlName="column1"/> </td>
                          <td></td>
                    </tr>
                    <tr>
                        <td colspan="3"> {{lb2}}  </td>
                        <td colspan="4"> <input type="text" class="form-control" formControlName="column2"/> </td>
                        <td></td>
                  </tr>
                  <tr>
                      <td colspan="3"> {{lb3}}  </td>
                      <td colspan="4"> <input type="text" class="form-control" formControlName="column3"/> </td>
                      <td></td>
                </tr>
                <tr>
                    <td colspan="3"> {{lb4}}  </td>
                    <td colspan="4"> <input type="text" class="form-control" formControlName="column4"/> </td>
                    <td></td>
              </tr>
                  </ng-container>
              </tbody>
           </table>
        </div>
  
                     <br/><br/><hr/>
        
       
      <div class="row">
        <div class="col-md-10">
          &nbsp;
        </div>
        <div class="col-md-2">
            <button class="btn btn-outline-primary btn-lg waves-effect waves-light m-1">
                Ship Items
              </button>
            
        </div>
      </div>

    </form>
      <div class="clearfix"></div>
      
      </div>
      </div>
  </div>
  </div>
      