<div class="container-fluid">
  
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
         
    <div class="card-body"> 

        <div class="table-responsive">
            <table class="table table-bordered table-sm">

                <tr>
                    <td colspan="3"><h4>{{leadInfo.name | uppercase}} </h4></td>
                    <td><a *ngIf="(departmentId == 4) ||(roleId == 1) || (designationId == 5)" routerLink="/access/maintenance/edit-machine/{{leadInfo.id}}" class="btn btn-sm btn-round  waves-effect waves-light m-1 btn-warning">Edit Profile</a></td>
                </tr>
              <tr>
                <td style=" width:30%"><b>MACHINE CODE : </b></td>
                <td><span class="btn btn-rounded btn-sm btn-secondary">
                    {{leadInfo.code}} 
                    </span>
                  </td>
                  <td><b>MACHINE TYPE : </b></td>
                  <td>{{leadInfo.productName}}</td>
              </tr>
            
              <tr>
                <td><b>SERIAL NO : </b></td>
                <td>{{leadInfo.serialNo}}</td>
                <td><b>EMAIL : </b></td>
                <td>{{leadInfo.email}}</td>                          
             </tr> 

             <tr>
                <td><b>SALES ADMIN : </b></td>
                <td>{{leadInfo.salesAdmin}}</td>
                <td><b>PHONE : </b></td>
                <td>{{leadInfo.phone}}</td>
             </tr> 
            
            
             
             <tr>
                <td><b>ADDRESS : </b></td>
                <td colspan="3">{{leadInfo.address}}</td>
             </tr>
            


           </table>

           <ng-container *ngIf="myaccountId > 0">
            <app-lead-contact [accountId]="myaccountId" [machineId]="id"></app-lead-contact>
           </ng-container>
          
           <!--<app-lead-sales [userId]="0" [accountId]="id"></app-lead-sales> -->
    </div>



       
      </div>

      </div>
      </div>
      </div>


    <hr>
    
   
