<div class="row">
    <div class="col-lg-12">
      <div class="card">
         <div class="card-header text-uppercase">CHANGE PASSWORD</div>
         <div class="card-body">
   
 <form [formGroup]="form" (ngSubmit)="Submit()">
    
    <div class="form-group row">
      <label for="basic-textarea" class="col-sm-3 col-form-label">OLD PASSWORD</label>
      <div class="col-sm-9">
           <input type="password" class="form-control" formControlName="oldPassword" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
           
           <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
              <div *ngIf="f.oldPassword.errors.required">Enter Old Password</div>
              <div *ngIf="f.oldPassword.errors.invalid">Old Password is not correct</div>
          </div>
      </div>
    </div>
    <div class="form-group row">
        <label for="basic-textarea" class="col-sm-3 col-form-label">NEW PASSWORD</label>
        <div class="col-sm-9">
            <input type="password" class="form-control"  
            formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <!-- <password-strength-meter [password]="newPassword"></password-strength-meter> -->
            <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">New Password is required</div>                                            
                <div *ngIf="f.newPassword.errors.pattern">New Password must be at least 6 characters,
                  letter first ->
                  (1 Lowercase letter,1 Uppercase letter,1 Number, 1 Special Character)</div>
            </div>
        </div>
    </div>
      <div class="form-group row">
          <label for="basic-textarea" class="col-sm-3 col-form-label">NEW PASSWORD AGAIN</label>
          <div class="col-sm-9">
              <input type="password" class="form-control" formControlName="newPassword2" [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }" />
              <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                  <div *ngIf="f.newPassword2.invalid">passwords do no match</div>
              </div>
          </div>
        </div>

        <div class="form-group row">
            <label for="basic-textarea" class="col-sm-3 col-form-label">&nbsp;</label>
            <div class="col-sm-9">
                <button class="btn btn-success btn-rounded col-lg-12">SAVE</button>
            </div>
          </div>
     
   
    
   </form>
   
         </div>
      </div>
    </div>
  </div><!--End Row-->