
      
        <div class="table-responsive" *ngIf="viewType == 0">
            <table class="table table-sm table-striped table-bordered">
             <thead>
                <tr>
                    <td colspan="5">&nbsp;</td>
                  </tr>
                
                  <tr>
               <tr>
                 <td colspan="4"> <h5>Lead Story Updates</h5></td>
                 <td>
                   <ng-container *ngIf="true">

                          <button data-toggle="modal" (click)="generate()"
                        *ngIf="createButton"
                        data-target="#leadstory" class="btn  btn-primary m-1">
                          Create 
                        </button>

                   </ng-container>
                   
                 </td>
               </tr>
               <tr>
                 <th scope="col">#</th>
                 <th scope="col">Revist Status</th>
                 <th scope="col">Created Date</th>
                
                 <th scope="col">Proposed Revist</th>
                 <th scope="col">Initial Sales Stage</th>
                 
                  
               </tr>
             </thead>
             <tbody>
             <ng-container *ngFor="let c of leadStoryInfo; let i = index,lst as isLast">
               <tr>
                 <th scope="row">{{i+1}}.</th>
                 <td>  
                   
                  <ng-container *ngIf="c.proposedRevisitDate!='0000-00-00 00:00:00'">
                      <a routerLink="/access/lead/view-lead/{{c.account_id}}" data-toggle="modal" (click)="generateStoryInfo(c)" data-target="#leadstory" class="badge badge-primary m-1" *ngIf="c.revisit == 0 && c.requiredTimeToUpdate < 400">
                        Pending Revisit in {{c.whenToRevisit}} hr(s)
                      </a>
                      <a routerLink="/access/lead/view-lead/{{c.account_id}}" data-toggle="modal" (click)="generateStoryInfo(c)" data-target="#leadstory" class="badge badge-danger m-1" *ngIf="c.revisit == 0 && c.requiredTimeToUpdate > 400">Did not Revisit </a>
                      <a routerLink="/access/lead/view-lead/{{c.account_id}}" data-toggle="modal" (click)="generateStoryInfo(c)" data-target="#leadstory" class="badge badge-success m-1" *ngIf="c.revisit == 1">Visited</a>
                  </ng-container>

                  <ng-container *ngIf="c.proposedRevisitDate=='0000-00-00 00:00:00'">
                      <a routerLink="/access/lead/view-lead/{{c.account_id}}" data-toggle="modal" (click)="generateStoryInfo(c)" data-target="#leadstory" class="badge badge-secondary m-1" >
                       No need to Revist
                      </a>
                  </ng-container>
                   
                  </td>
                 <td>{{c.createdDate | date:'EEEE, d, MMMM, yyyy'}}</td>
                 <td>
                  <ng-container *ngIf="c.proposedRevisitDate!='0000-00-00 00:00:00'">
                      {{c.proposedRevisitDate | date:'EEEE, d, MMMM, yyyy'}}
                  </ng-container>
                 
                  </td>
                 <td>
                    <span class="text-white btn btn-rounded btn-sm {{c.initial_stagecolor}}">
                        {{c.initial_salesstage}} 
                      </span>
                 </td>
                
                 

               </tr>
             </ng-container>
             </tbody>
           </table>
       </div>

       <div class="row" *ngIf="viewType == 1">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header"><i class="fa fa-table"></i>View All Lead Story Updates</div>
              <div class="card-body">
                <div class="table-responsive">
      
                   <!--Table start here -->
                <div class="row">
                    <div class="col-6">
                      <div class="form-inline">
                        <div class="form-group">
                          <div class="input-group mr-3">
                              <input type="text" class="form-control" placeholder="Search..." [formControl]="searchFormControl">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="searchFormControl.setValue('')">
                                  x
                                </button>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="float-right">
                        
                          <ngb-pagination 
                          [collectionSize]="tableDataSource$.value.length" 
                          [pageSize]="pageSize$.value"
                          [page]="currentPage$.value"
                          (pageChange)="currentPage$.next($event)"
                          >
                        </ngb-pagination>
       
                      </div>
                    </div>
                  </div>
                 <table cdk-table [dataSource]="dataOnPage$" class="table table-sm table-striped table-bordered">
       
                  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
                  <tr cdk-row *cdkRowDef="let row; columns : columns"></tr>
                  <ng-container cdkColumnDef="revisit">
                      <th cdk-header-cell *cdkHeaderCellDef></th>
                      <td cdk-cell *cdkCellDef="let row">


                          <ng-container *ngIf="row.proposedRevisitDate!='0000-00-00 00:00:00'">
                              <a routerLink="/access/lead/all-leads-story" data-toggle="modal" (click)="generateStoryInfo(row)" data-target="#leadstory" class="badge badge-primary m-1" *ngIf="row.revisit == 0 && row.requiredTimeToUpdate < 400">
                                Pending Revisit in {{c.whenToRevisit}} hr(s)
                              </a>
                              <a routerLink="/access/lead/all-leads-story" data-toggle="modal" (click)="generateStoryInfo(row)" data-target="#leadstory" class="badge badge-danger m-1" *ngIf="row.revisit == 0 && row.requiredTimeToUpdate > 400">Did not Revisit </a>
                              <a routerLink="/access/lead/all-leads-story" data-toggle="modal" (click)="generateStoryInfo(row)" data-target="#leadstory" class="badge badge-success m-1" *ngIf="row.revisit == 1">Visited</a>
                          </ng-container>
        
                          <ng-container *ngIf="row.proposedRevisitDate=='0000-00-00 00:00:00'">
                              <a routerLink="/access/lead/all-leads-story" data-toggle="modal" (click)="generateStoryInfo(row)" data-target="#leadstory" class="badge badge-secondary m-1" >
                               No need to Revist
                              </a>
                          </ng-container>

                   </td>
              </ng-container>
                      <ng-container cdkColumnDef="name">
                          <th cdk-header-cell *cdkHeaderCellDef>Account Name</th>
                          <td cdk-cell *cdkCellDef="let row"><a routerLink="/access/lead/view-lead/{{row?.account_id}}">{{row?.name}}</a></td>
                      </ng-container>
                  
                      <ng-container cdkColumnDef="createdDate">
                          <th cdk-header-cell *cdkHeaderCellDef>Date Created</th>
                          <td cdk-cell *cdkCellDef="let row">{{row?.createdDate | date:'dd-MMMM-yyyy'}}</td>
                      </ng-container> 

                      <ng-container cdkColumnDef="proposedDate">
                          <th cdk-header-cell *cdkHeaderCellDef>Date Propose</th>
                          <td cdk-cell *cdkCellDef="let row">
                          <ng-container *ngIf="row?.proposedDate">
                              <ng-container *ngIf="c.proposedRevisitDate!='0000-00-00 00:00:00'">
                                  {{c.proposedRevisitDate | date:'EEEE, d, MMMM, yyyy hh:mm a'}}
                              </ng-container>
                              
                          </ng-container> 
                          </td>
                      </ng-container> 
                 
                      
                      <ng-container cdkColumnDef="admin_name">
                          <th cdk-header-cell *cdkHeaderCellDef>Created By</th>
                          <td cdk-cell *cdkCellDef="let row">{{row?.admin_name}}</td>
                      </ng-container>
                  
                      <ng-container cdkColumnDef="email">
                          <th cdk-header-cell *cdkHeaderCellDef>Email</th>
                          <td cdk-cell *cdkCellDef="let row">{{row?.email}}</td>
                      </ng-container> 
       
                      <ng-container cdkColumnDef="phone">
                      <th cdk-header-cell *cdkHeaderCellDef>Phone</th>
                      <td cdk-cell *cdkCellDef="let row">{{row?.phone}}</td>
                      </ng-container>
       
                      <ng-container cdkColumnDef="address">
                         <th cdk-header-cell *cdkHeaderCellDef>Address</th>
                         <td cdk-cell *cdkCellDef="let row">{{row?.address}}</td>
                      </ng-container>

                       <ng-container cdkColumnDef="leadStage">
                          <th cdk-header-cell *cdkHeaderCellDef>Initial Stage</th>
                          <td cdk-cell *cdkCellDef="let row">
                            <span class="text-white btn btn-rounded btn-sm {{row?.initial_stagecolor}}">
                                {{row?.initial_salesstage}} 
                              </span>
                          </td>
                       </ng-container>
      
                       
                  
                  </table>
                 
                 <!--table ends here -->
      
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="modal fade" id="leadstory">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lead Revisit Story</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div [innerHTML] = "storyInformation" style="text-align:center;word-wrap: break-word;white-space: initial;white-space:pre-line;"></div>

        <form [formGroup]="form" (ngSubmit)="submit()">
            <div *ngIf="formShow" class="modal-body">
          
              <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="input-1">Sales Stage</label>
                      <select class="form-control" formControlName="salesstage"
                      [ngClass]="{ 'is-invalid': submitted && f.salesstage.errors }">
                        <option></option>
                        <option *ngFor="let c of SalesStage" value="{{c.sales_percentage}}">{{c.stage_name}} - {{c.sales_percentage}} %</option>
                      </select> 

                      <div *ngIf="submitted && f.salesstage.errors" class="invalid-feedback">
                          <div *ngIf="f.salesstage.errors.required">this field is required</div>        
                      </div>
                    </div>
                    <div class="form-group col-lg-6">
                      <label for="input-2">Proposed Date</label>
                      <input [owlDateTime]="dt1" formControlName ="proposedRevisitDate"
                      [ngClass]="{ 'is-invalid': submitted && f.proposedRevisitDate.errors }"
                       class="form-control" [min]="2/24/2019"
                      [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                        <owl-date-time #dt1 ></owl-date-time>
                        <div *ngIf="submitted && f.proposedRevisitDate.errors" class="invalid-feedback">
                            <div *ngIf="f.proposedRevisitDate.errors.required">this field is required</div>        
                        </div>
                    </div>
              </div>
                <div class="form-group">
                  <label for="input-3">Story Update</label>
                  <textarea class="form-control" formControlName="firstDescription"
                  [ngClass]="{ 'is-invalid': submitted && f.firstDescription.errors }"
                  ></textarea>
                  <div *ngIf="submitted && f.firstDescription.errors" class="invalid-feedback">
                      <div *ngIf="f.firstDescription.errors.required">this field is required</div>        
                  </div>
                </div>
              
              
          
            </div>
            <div class="modal-footer">
              <button type="button" (click)="resetForm()" class="btn btn-inverse-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
              <button *ngIf="formShow" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save changes</button>
            </div>
      </form>
      </div>
    </div>
  </div>