
<ngx-ui-loader fgsColor="#ff9900" fgsType="three-strings" pbColor="#ff9900"
bgsColor="red" text="Loading..." textColor="#ffffff"></ngx-ui-loader>

<div id="wrapper">

    <div class="card card-authentication1 mx-auto my-5">
      <div class="card-body">
       <div class="card-content p-2">
        <div class="card-title text-uppercase pb-2">Reset Password</div>
          <p class="pb-2">Please enter your email address. You will receive a link to create a new password via email.</p>
          <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="form-group">
          <label for="exampleInputEmailAddress" class="">Email Address</label>
           <div class="position-relative has-icon-right">
            <input type="text" formControlName="email"
            id="email" 
            class="form-control input-shadow" placeholder="Email Address">
            <div class="form-control-position">
              <i class="icon-envelope-open"></i>
            </div>
 
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">this field is required</div> 
              <div *ngIf="f.email.errors.email">this is not a valid email address</div>       
          </div>
           </div>
          </div>
         
          <button class="btn btn-warning btn-block mt-3">Reset Password</button>
         </form>
         </div>
        </div>
         <div class="card-footer text-center py-3">
          <p class="text-dark mb-0">Return to the <a routerLink="/home"> Sign In</a></p>
        </div>
         </div>
      
       <!--Start Back To Top Button-->
      <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
      <!--End Back To Top Button-->
  